---
layout: homepage
---

<div class="home">
  <div class="row">

    <div class="col-md-12 center">
      <h1>Icon sets</h1>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      {% for page in site.pages offset:2 %}
        {% if page.category == 'iconset' %}
        {% assign counter=0 %}
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading{{ forloop.index0 }}">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.index0 }}" aria-expanded="{% if forloop.index0 == 4 %}true{% else %}false{% endif %}" aria-controls="collapse{{ forloop.index0 }}">
                {{ page.title }}
              </a>
            </h4>
            </div>
            <div id="collapse{{ forloop.index0 }}" class="panel-collapse collapse {% if forloop.index0 == 4 %}in{% endif %}" role="tabpanel" aria-labelledby="heading{{ forloop.index0 }}">
              <div class="panel-body">
                {% assign sorted_icons = (site.icons | sort: 'title') %}
                {% for icon in sorted_icons %}
                   {% if icon.tags contains page.tag %}
                      {% if counter < 12 %}
                        {% include icon-item.html %}
                        {% assign counter=counter | plus:1 %}
                      {% endif %}
                   {% endif %}
                {% endfor %}
                <div class="clearfix"></div>
                <a href="{{ page.url | prepend: site.baseurl }}" class="btn btn-theme">View complete set</a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      </div>
    </div>


    <div class="col-md-12 center">
      <h1>Some more icons</h1>
      <hr>
      {% assign counter=0 %}
      {% for icon in site.icons %}
        {% if icon.tags contains 'random' %}
          {% if counter < 18 %}
            {% include icon-item.html %}
            {% assign counter=counter | plus:1 %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-md-12 center">
      <a class="btn btn-lg btn-theme" href="{{site.baseurl}}/all-icons">View all icons</a>
    </div>
  </div>

</div>
