<footer class="footer">

  <div class="container">

    <div class="row">
      <div class="col-md-3">
        <h2>A project by TinkTank</h2>
      </div>

      <div class="col-md-3">
        <h3>Links</h3>
        <div class="hline-w"></div>
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="">Contribute</a></li>
          <li><a href="https://github.com/TinkTankMTL/icon-set">Github project</a>
          <li> <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p></li>
        </ul>
        <a href="https://github.com/TinkTankMTL"><i class="fa fa-github fa-2x"></i></a>
        <a href="http://twitter.com/tinktankMTL"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="https://www.facebook.com/groups/1459614080942550/"><i class="fa fa-facebook fa-2x"></i></a>

      </div>

      <div class="col-md-3">
        <h3>Credits and licence</h3>
        <div class="hline-w"></div>
        <p>All icons are under <a href="https://creativecommons.org/licenses/by/3.0">Creative Commons 3.0 Share Alike.</a> licence. Credits to TinkTank are appriciated.</p> 
      </div>

      <div class="col-md-3">
        <h3>What is this?</h3>
        <div class="hline-w"></div>
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
